/* container div */
.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    /* position: relative;
    padding-top: 129px; */

}

/* header */
header {
    display: flex;
    max-width: inherit;
    width: inherit;
    position: fixed;
    transform: translate(50% -50%);
    background: #372D23;
    align-items: center;
    /* justify-content: center; */
    padding: 32px 80px;
    justify-content: space-between;
    z-index: 1;
}

.header_ul {
    display: flex;
    column-gap: 44px;
}

.list {
    color: #B89278;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.active {
    color: #ED6C30;
}

.fa-bag-shopping {
    font-size: 40px;
    color: #FCC21B;
}

/* section */
.section1 {
    position: relative;
    /* transform: translate(-50%, -50%); */
    /* top: 250px;left: 379px;right: 379px;
    bottom: 250px; */
    width: 100%;



}

.cover.img {
    width: 100%;
    height: 100%;
}

.section1_div {
    /* display: inline-flex; */
    /* flex-direction: column; */
    width: calc(660 / 1440 * 100%);
    /* gap: 32px; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

.title {
    color: #FFF;
    text-shadow: 0px 6px 4px #372D23;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* position: absolute; */
    margin-bottom: 28px;
}

.section1_button {
   
    display: flex;
    height: 52px;
    padding: 12px 38px;
    justify-content: center;
    align-items: center;
    border: 3px solid #FCC21B;
    box-shadow: 0px 4px 4px 0px #372D23;
    background-color: transparent;
    /* position: absolute; */
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
}

.section1_button:hover{
    border: 3px dotted #ff7a59;
    color: #ff7a59;
    background: orange;
}

/* p{
    font-size: 100px;
} */